/*
07/04/2022

Author - Manuel Arroyo Garcia

Proyecto S.E.W. 2022
*/
:root {
  --thr-color: #cbc9c7;
  --nd-color: #f6f6f6;
  --alternative-black: #5F5F60;
  --background-color: #ecedef;
}
/* ------------------- Estilos Switches --------------------- */
.switch_main{
  display: flex;
  flex-direction: column;
}

.switch_grid {  
  display: grid;
  grid-template-columns: 40% 40% ;
  grid-template-rows: 100% 50%;
  grid-template-areas: 
        "item1 item2"
        "item3 item4";
  column-gap: 20%;
  row-gap: 10%;
  padding: 2.5% 10% 10.5%;
}

.switch_elem {
  position: relative;
  display: flex;
  flex-direction: column;
}

.switch_elem > p{ 
  text-align: justify;
}

.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }

.switch_main > .intro {
  text-align: justify;

  margin: 2% 2.5%;
}

.switch-table{
  padding: 2% 2.5%;
  text-align: center;
}

.switch-table table{
  text-align: left;
  width: 100%;
}

.switch-table tr:nth-child(even){
  background-color: #e6e6e6;
}

.switch-table th, td {
  padding: 1vh;
  text-align: left;  
  border-bottom: 1px solid var(--alternative-black);
}


/* -------------------- Estilos Index ----------------------- */
.index_article {
  padding-top: 2.5%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.index_intro {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 5%;
}

.index_intro > hr{  
  width: 10em;
}

.video_container {
  position: relative;
  padding: 2% 0 50% 0;
  height: 0;  
  text-align: center;
  max-width: 100%; 
}

.video_container > iframe, .video_container > object, .video_container > embed { 
  position: relative; 
  width: 99vw; 
  height: 100vh; 
  border: 0px;
}


/* ------------- Estilos contact from ------------------ */
.contact_form > form {
  text-align: center;
  margin: 5% 10% 0;
  display: flex;
  flex-wrap: wrap;
}

.contact_form > form input::placeholder  {
  font-size: 1.8em; 
}

.contact_form > form input {
  margin: 0.5% 2%;
}

#email, #name {
  flex: 1 0 40%;
  height: 5vh;  
}
#title {
  flex: 1 0 50%;
  width: 100%;
  height: 5vh;  
}

#text {
  flex: 1 0 90%;  
  width: 100%;  
  height: 30vh;
}

#text > input::placeholder {
  text-align: left;
  vertical-align: top;
  background-color: greenyellow;
}

#contact_submit {  
  flex: 1 0 10%; 
  margin-left: 60%;
  height: 7vh;

  background-color: #333333;
  border: none;
  color: white;
}

#contact_submit:hover {   
  box-shadow: -2px 3px 9px 0px #5F5F60;
}

/* ---------- Estilos Login y register Form ---------- */
.session_intro {
  text-align: center;
}
.session_intro > hr{
  width: 10%;
}

.session_form > form {
  text-align: center;
  margin: 1.5% 10% 0;
  display: flex;
  flex-wrap: wrap;

}
.form_group, .form_submit {
  flex: 1 0 60%;  
  padding: 0.5% 0;
}

.form_group > * {
  width: 20vw;
  height: 5vh;
}

.form_submit > * {  
  width: 20.5vw;
  height: 5vh;
  background-color: #333333;
  border: none;
  color: white;
}

.form_submit > *:hover {   
  box-shadow: -2px 3px 9px 0px #5F5F60;
}