/*
07/04/2022
Author - Manuel Arroyo Garcia
Proyecto S.E.W. 2022

En este archivo se encuentran estilos relativos a elementos que comparten muchas
vistas del sitio.
*/
:root {
    --thr-color: #cbc9c7;
    --nd-color: #f6f6f6;
    --alternative-black: #5F5F60;
    --background-color: #ecedef;
}

.intro {
    text-align: left;
}

.oculto {
    display: none;    
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
    color: rgb(0, 0, 0);
    font-size: 22px;    
    margin: 0;
    max-width: 100%;    
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}
body > .main_content {
    margin: 0 1vw;
}

.wrapper { 
    width: 360px;
    padding: 20px; 
}

h1 {    
    display: block;
    text-align: center;
}

a {    
    text-decoration: none;
    color: black;
}

hr {
    border-top: 1px solid #000;
    background-color: black;
}


/* ------------- Pages banners ------------- */
header{
    background-color: var(--background-color);
}
header  h1{ 
    padding: 7% 55% 0 0   ;
    color: #000000;
    font-size: 3em;
}

#index_banner {
    background-image: url('/public/img/banners/index_banner.bmp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99vw;  
    height: 70vh;
}

#switches_banner { 
    background-image: url('/public/img/banners/switches_banner.bmp');
    height: 25em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99vw;
}


/* ------------------ Nav Style -------------------- */
nav {
    padding: 0.5em 0.5em;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.nav_icon > img, .nav_icon > * > img {
    height: 6vh;
}

.nav_icon {
    padding-right: 2em;
}

.main_link {
    padding: 1em 2em 0;
    color: black;
}

.left-side, .rigth-side {
    display: flex;
}

.rigth-side {
    margin-right: 3vw;
}

nav > * {
    display: inline;    
    align-items: center;    
}

.resalto {
    opacity: 0;
    width: 0;
    transition: all 0.3s;
}

.main_link:hover .resalto {    
    opacity: 1;
    width: 100%;
}

.dropdown {
    margin-right: 2vw;
    position: relative;
    display: inline-block;  
}


.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content a {
    white-space: nowrap;
    display: block;
    text-align: left;
    padding:  0.5em 3em;
    transition: all 0.5s;
  }

.dropdown_content a:hover {
    background-color: #dadada;
}


/* ------------------ Footer Style -------------------- */ 

footer {
    padding-top: 5vh;
    position: relative;
    bottom: 0;
    background-color: var(--background-color);
    

}

footer > hr{
    width: 8em;
}

.footer-content {
    display: flex;    
    align-content: space-around;
    justify-content: space-between;  
    padding: 0 4%;    
    font-size: 20px;
    line-height: 0.8em;
    margin-bottom: 1vh;
}

.validators {
    display: flex;
    align-items: center;
}

.footer-validate-img-css {
    border:0;
    width:5vw;
    height:4vh;
}

.footer-validate-img-html {
    border:0;
    height: 8vh; 
    width: 4.5vw;
}


/* ------------------ Success pages Style -------------------- */ 
.finish-action {
    text-align: center;
}