/*
07/04/2022
Author - Manuel Arroyo Garcia
Proyecto S.E.W. 2022

Este archivo contiene todos los estilos relacionados con los 
productos.
*/
:root {
    --thr-color: #cbc9c7;
    --nd-color: #f6f6f6;
    --alternative-black: #5F5F60;
    --background-color: #ecedef;
}
/* ---------- Products List style ---------*/
.product_intro {
    margin: 0 2.5%;
    display: flex;
    justify-content: space-between;
}
#import_btn{
    margin-top: 2vh;
    width: 12vw;
    height: 7vh;
  
    background-color: #333333;
    border: none;
    color: white;
    font-size: 18px;
}

#import_btn:hover {   
  box-shadow: -2px 3px 9px 0px #5F5F60;
}



#products_container {
    padding: 0 10%;
    text-align: center;
}

.products_shop_container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.product_item {  
    margin: 2% 1%;
    flex: 1 30% 0;
    width: 30%;
    border: 1px solid rgb(137, 137, 137);
    transition: box-shadow 0.3s;
}

.product_item:hover {
    box-shadow: -2px 3px 9px 0px #5F5F60;
}

.product_img {
    padding: 0.5%;
}

.product_img > img {
    max-width:100%;
    max-height:100%;
}

.product_info{
    padding: 0 2.5%;
    text-align: left;
}
.product_info > p {
    line-height: 16px;
}
.product_price {
    color:  dodgerblue;
}




/*-------- single product --------*/

.single_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.single_product_item{
    display: flex;    
    text-align: left;
    justify-content: center;
}

.single_product_img {
    text-align: center; 
    flex-grow: 1;
    border: 1px solid var(--alternative-black);
    margin: 1%;
}
.single_product_img > img {    
    width: 90%;
}   

.single_product_info {
    width: 40vw;
    display: inline-block;
    padding: 2%;
}

.single_product_info > button, #user_product_options > button {
    margin-top: 0.8em;
    height: 4vmin;
    width: 30vmin;

    background-color: #333333;
    border: none;
    color: white;
    transition: box-shadow 0.15s;
}

#user_product_options > input {
    height: 3vmin;
    width: 15vmin;
    border: 1px solid var(--alternative-black);
}

.back_btn { 
    text-align: center;
    padding-top: 2vh;
}
.back_btn > button{
    height: 8vmin;
    width: 50vmin;

    background-color: #333333;
    border: none;
    color: white;
    transition: box-shadow 0.15s;
}
.back_btn > button:hover, .single_product_info > button:hover {   
    box-shadow: -2px 3px 9px 0px #5F5F60;
}

/* ---------- Cart List style ---------*/
.cart_body {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 20vh;
}

.cart_body {
    display: flex;
}

.cart_list {
    flex-grow: 1;
}
.dir_container {
    flex-grow: 2;
    padding: 0 1vw;
}


.cart_list ul {
    display: flex;
    flex-direction: column ;
    margin: 2%;
    list-style-type: none;
}

.cart_list li {
    display: flex;
    text-align: left;
}

.cart_list img {
    width: 20vmin;
    height: 20vh;
}

.cart_list li * {
    flex-grow: 1;
    margin: 2% 2% 2% 0 ;
    white-space: nowrap;
}

.resume {
    display: flex;
    padding: 1.5% 2.5%;
    justify-content: space-around;
}
.total > h2{
    margin-bottom: 0;
}
.total > input{
    height: 4vmin;
    width: 15vw;
    border: 1px solid var(--alternative-black);
    font-size: 23px;
}
.pago > p {
    padding-left: 1vw;
}

.finish_btn{
    text-align: center;
}
.finish_btn > button{
    width: 20%;
    height: 7vh;
  
    background-color: #333333;
    border: none;
    color: white;
}

.finish_btn > button:hover {   
  box-shadow: -2px 3px 9px 0px #5F5F60;
}